.list-group {
    width: 400px !important;
}

.list-group-item {
    margin-top: 10px;
    border-radius: none;
    background: #383c44;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.list-group-item:hover {
    transform: scaleX(1.1);
}